.primary-nav {
  list-style: none;
  margin: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-item: center;
  justify-content: center;

  &__item {
    margin: 0 .5rem;
  }

  .current {
    font-weight: bold;
  }

}
